<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/pada57/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="pada57" />
            <add key="ClearTextPassword" value="4a0c718dd5c53b097bc2e2e98ebfb25dbfdbd34a" />
        </github>
    </packageSourceCredentials>
</configuration>